<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--每天生成日志的类-->
    <!--<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>   &lt;!&ndash;过滤掉error的级别&ndash;&gt;
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        &lt;!&ndash;滚动策略&ndash;&gt;
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash;路径&ndash;&gt;
            <fileNamePattern>/home/data0/hnw/logs/info.%d.log</fileNamePattern>
            &lt;!&ndash;<fileNamePattern>/home/huangniuwa/logs/info.%d.log</fileNamePattern>&ndash;&gt;
            &lt;!&ndash;<fileNamePattern>C:\electricity_cost\logs/info.%d.log</fileNamePattern>&ndash;&gt;
        </rollingPolicy>
    </appender>-->


    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>  <!--//打印error-->
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/home/data0/hnw/logs/error.%d.log</fileNamePattern>
            <!--<fileNamePattern>/home/huangniuwa/logs/error.%d.log</fileNamePattern>-->
            <!--<fileNamePattern>C:\hnw\logs/error.%d.log</fileNamePattern>-->
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog" />
        <!--<appender-ref ref="fileInfoLog" />-->
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>