<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <style>
        body {
            background: white;
        }
        .form_area{
            padding: 10px 15px 0 0;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form form_area" id="addFactoryInfo" onkeydown="if(event.keyCode==13){return false}">
            <input id="taskId" name="taskId" type="hidden">
            <div class="layui-form-item">
                <label for="content" class="layui-form-label">
                    <span class="x-red">*</span>
                    审批原因
                </label>
                <div class="layui-input-block">
                    <input type="text" id="content" name="content" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <button class="layui-btn" id="pass" type="button" lay-submit lay-filter="pass">通过</button>
                <button class="layui-btn" id="reject" type="button" lay-submit lay-filter="reject">驳回</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
            ,type: 'date'
            ,trigger: 'click' //自动弹出控件的事件，采用click弹出
        });


        //监听提交
        form.on('submit(pass)', function (data) {
            $.ajax({
                url: 'approveTask',
                data: {
                    taskId: $('#taskId').val(),
                    comment: $('#content').val()
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        layer.msg(data.msg, {icon: 6, time: 1500}, function () {
                            parent.layui.table.reload('factoryTable');
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    } else {
                        layer.msg('账号重复！', {icon: 5, time: 1500});
                    }
                },
                error: function () {
                    layer.msg('系统错误！', {
                        icon: 5
                    });
                }
            });
            return false;
        });

        form.on('submit(reject)', function (data) {
            $.ajax({
                url: 'backOff',
                data: {
                    taskId: $('#taskId').val(),
                    comment: $('#content').val()
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        layer.msg(data.msg, {icon: 6, time: 1500}, function () {
                            parent.layui.table.reload('factoryTable');
                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    } else {
                        layer.msg('账号重复！', {icon: 5, time: 1500});
                    }
                },
                error: function () {
                    layer.msg('系统错误！', {
                        icon: 5
                    });
                }
            });
            return false;
        });

    });
</script>
</body>

</html>