<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.activiti.mapper.PermissionInfoMapper">
    <select id="getPermissionInfoListByRoleId" resultType="com.test.activiti.entity.PermissionInfo">
        SELECT a.* FROM tbl_gb_permission_info a
        LEFT JOIN tbl_gb_role_perm_related b ON a.id = b.perm_id
        WHERE b.role_id = #{roleId}
    </select>
</mapper>
